@using Clientes.Models
@model List<MostrarClienteDTO>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Administrar Clientes</h1>    
</div>

<div class="card">
    <div class="card-header">     
    </div>
    <div class="card-body">

        <a asp-action="Registrar" asp-controller="Home" class="btn btn-success btn-sm"> Nuevo Cliente </a>
        <a asp-action="Productos" asp-controller="Home" class="btn btn-success btn-sm"> Productos </a>

        <hr />
        
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre y Apellido</th>
                    <th>Numero de Documento</th>
                    <th>Tipo</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Ultima Actualizacion</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.NameLastname</td>
                        <td>@item.NroDocumento</td>
                        <td>@item.TipoDeDocumento</td>
                        <td>@item.FechadeNacimiento</td>
                        <td>@item.FechaHoraActualizacion</td>
                        <td>
                            <a asp-action="Pedidos" asp-controller="Home" asp-route-idCliente=@item.Id asp-route-Name=@item.NameLastname asp-route-Nro=@item.NroDocumento asp-route-Tipo=@item.TipoDeDocumento asp-route-FN=@item.FechadeNacimiento asp-route-FA=@item.FechaHoraActualizacion class ="btn btn-warning btn-sm"> Pedido </a>
                            <a asp-action="ActualizarCliente" asp-controller="Home" asp-route-idCliente=@item.Id class="btn btn-primary btn-sm"> Editar </a>
                            <a asp-action="Eliminar" asp-controller="Home" asp-route-idCliente=@item.Id class="btn btn-danger btn-sm"> Eliminar </a>                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
    </div>
</div>

                            